# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env

# PyInstaller
/dist/
/build/
*.spec

# Qt files
*.qrc
*.ui

# VSCode or other IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
